# One or the other key is required 
# See here: https://github.com/buildkite/docker-ssh-env-config
# these are base64 encoded strings that get passed into the docker container
# on start and make it possible to use private git repos 

# SSH_PRIVATE_RSA_KEY_B64=
# SSH_PRIVATE_DSA_KEY_B64=

# Login info for docker hub
DOCKER_USER=
DOCKER_PASS=
